.home {
  height: fit-content;
}

.home__page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  flex-basis: 60%;
  height: 90vh;
}

.home__right {
  width: 50%;
  background-image: url("./../../images/image-62.png");
  height: 100vh;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__welcome {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.home__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.home__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home__proficiency {
  display: flex;
  gap: 20px;
  margin-top: -30px;
}

.home__link,
.home__link:hover,
.home__link:focus,
.home__link:active {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 750px) {
  .home__page {
    flex-direction: column-reverse;
    margin: 10px auto;
  }

  .home__container {
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    align-items: center;
    text-align: center;
  }

  .home__buttons {
    flex-direction: column;
    justify-content: center;
  }

  .home__right {
    height: 30%;
    width: 100%;
    top: 0;
  }

  .home__icons {
    justify-content: center;
    gap: 20px;
  }

  .home__proficiency {
    justify-content: center;
  }
}
