.home {
  height: 100vh;
  background-color: #2C343F;
  color: white;
  line-height: 3rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  margin: 5% 10%;
  width: 35%;
}

.home h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

.home p {
    font-size: 1.5rem;
}

.home__container span {
    color: #FD8585;
}