.home {
  height: fit-content;
}

.home__page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  margin-left: 12%;
  width: 35vw;
  flex-basis: 33%;
  height: 80vh;
}

.home__welcome {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home__photo {
  width: 50%;
  height: 80vh;
  object-fit: cover;
  flex-basis: 50%;
  margin-right: 12%;
  border-radius: 50px;
  object-position: bottom;
}

.home__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home__link,
.home__link:hover,
.home__link:focus,
.home__link:active {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1100px) {
  .home__container {
    margin-left: 5%;
  }

  .home__photo {
    margin-right: 5%;
  }
}

@media screen and (max-width: 750px) {
  .home__page {
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .home__container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .home__photo {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60%;
  }

  .home__icons {
    justify-content: center;
    gap: 20px;
  }
}
