.request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 600px;
  height: 600px;
  background-color: #dfdfe9;
  border-radius: 8px;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #2c343f !important;
  border-width: 2px !important;
}

.css-o3x92v-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #2c343f !important;
  color: white !important;
}

.css-x9zh1c:hover {
  background-color: #2c343f !important;
  color: white !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #2c343f !important;
}

. css-1ald77x.Mui-focused {
  color: #2c343f !important;
}

.request-text {
  display: inline-block;
  width: 500px;
  height: 60px;
  font-size: 4rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .request-app {
    width: 350px;
  }
  .request-text {
    width: 400px;
    font-size: 3rem;
  }
}
